[submodule "ptsa"]
	path = ptsa
	url = ssh://git@github.com/pennmem/ptsa
[submodule "include/BayesGPc"]
	path = include/BayesGPc
	url = git@github.com:Riley16/BayesGPc.git
[submodule "include/lapack"]
	path = include/lapack
	url = git@github.com:Reference-LAPACK/lapack.git
